
body {
    background-color: hsl(67, 10%, 75%);
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: justify;
  }
  
  h1 {
    color: hsl(230, 75%, 22%);
    font-weight: 1000;
    letter-spacing: 60px;
    text-align: right;
    text-transform: uppercase;
  }
  
  h2 {
    clear: both;
    background-color: hsl(36, 30%, 30%);
    color: white;
  }
  
  p.centrado {
    text-align: center;
  }
  
  img.izq {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  img.der {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  strong {
    font-style: oblique;
  }
  
  address {
    clear: both;
    font-size: 0%;
  }
  